In [14]:
import pandas as pd 
import numpy as np 
import missingno as msno

In [16]:
pwd

'E:\\CODE\\Python ML\\02-pandas\\basic\\pandasBasic'

In [4]:
path = r'E:\Courses\Machine Learning & Data Science Diploma  Arabic\Code-for-my-Courses-Mohammed-Agoor-main\Code-for-my-Courses-Mohammed-Agoor-main\01- Data Analysis\02- Numpy & pandas\Files\homelessness.csv'

In [6]:
df_homlessness = pd.read_csv(path)   # data frame

In [8]:
df_homlessness.info()
# بيعرض تفاصيل عن الداتا فريم زي أنواع البيانات وعدد القيم الفاضية.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     int64
 3   family_members  51 non-null     int64
 4   state_pop       51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [10]:
df_homlessness.describe()
#بيجيب إحصائيات عن البيانات الرقمية زي المتوسط والحدود الدنيا والقصوى.

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [15]:
df_homlessness.isna().any()

region            False
state             False
individuals       False
family_members    False
state_pop         False
dtype: bool

In [22]:
df_homlessness['individuals']

0       2570
1       1434
2       7259
3       2280
4     109008
5       7607
6       2280
7        708
8       3770
9      21443
10      6943
11      4131
12      1297
13      6752
14      3776
15      1711
16      1443
17      2735
18      2540
19      1450
20      4914
21      6811
22      5209
23      3993
24      1024
25      3776
26       983
27      1745
28      7058
29       835
30      6048
31      1949
32     39827
33      6451
34       467
35      6929
36      2823
37     11139
38      8163
39       747
40      3082
41       836
42      6139
43     19199
44      1904
45       780
46      3928
47     16424
48      1021
49      2740
50       434
Name: individuals, dtype: int64

In [18]:
df_homlessness.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama         2570             864    4887681
1             Pacific      Alaska         1434             582     735139
2            Mountain     Arizona         7259            2606    7158024
3  West South Central    Arkansas         2280             432    3009733
4             Pacific  California       109008           20964   39461588

In [23]:
df_homlessness[['state','region']]

                   state              region
0                Alabama  East South Central
1                 Alaska             Pacific
2                Arizona            Mountain
3               Arkansas  West South Central
4             California             Pacific
5               Colorado            Mountain
6            Connecticut         New England
7               Delaware      South Atlantic
8   District of Columbia      South Atlantic
9                Florida      South Atlantic
10               Georgia      South Atlantic
11                Hawaii             Pacific
12                 Idaho            Mountain
13              Illinois  East North Central
14               Indiana  East North Central
15                  Iowa  West North Central
16                Kansas  West North Central
17              Kentucky  East South Central
18             Louisiana  West South Central
19                 Maine         New England
20              Maryland      South Atlantic
21         Massachusetts         New England
22              Michigan  East North Central
23             Minnesota  West North Central
24           Mississippi  East South Central
25              Missouri  West North Central
26               Montana            Mountain
27              Nebraska  West North Central
28                Nevada            Mountain
29         New Hampshire         New England
30            New Jersey        Mid-Atlantic
31            New Mexico            Mountain
32              New York        Mid-Atlantic
33        North Carolina      South Atlantic
34          North Dakota  West North Central
35                  Ohio  East North Central
36              Oklahoma  West South Central
37                Oregon             Pacific
38          Pennsylvania        Mid-Atlantic
39          Rhode Island         New England
40        South Carolina      South Atlantic
41          South Dakota  West North Central
42             Tennessee  East South Central
43                 Texas  West South Central
44                  Utah            Mountain
45               Vermont         New England
46              Virginia      South Atlantic
47            Washington             Pacific
48         West Virginia      South Atlantic
49             Wisconsin  East North Central
50               Wyoming            Mountain

In [25]:
df_homlessness.sort_values(by = 'state' , )
#بيرتب الداتا حسب عمود state تصاعديًا بشكل افتراضي.

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570,864,4887681
1,Pacific,Alaska,1434,582,735139
2,Mountain,Arizona,7259,2606,7158024
3,West South Central,Arkansas,2280,432,3009733
4,Pacific,California,109008,20964,39461588
5,Mountain,Colorado,7607,3250,5691287
6,New England,Connecticut,2280,1696,3571520
7,South Atlantic,Delaware,708,374,965479
8,South Atlantic,District of Columbia,3770,3134,701547
9,South Atlantic,Florida,21443,9587,21244317
10,South Atlantic,Georgia,6943,2556,10511131
11,Pacific,Hawaii,4131,2399,1420593
12,Mountain,Idaho,1297,715,1750536
13,East North Central,Illinois,6752,3891,12723071
14,East North Central,Indiana,3776,1482,6695497
15,West North Central,Iowa,1711,1038,3148618
16,West North Central,Kansas,1443,773,2911359
17,East South Central,Kentucky,2735,953,4461153
18,West South Central,Louisiana,2540,519,4659690
19,New England,Maine,1450,1066,1339057
20,South Atlantic,Maryland,4914,2230,6035802
21,New England,Massachusetts,6811,13257,6882635
22,East North Central,Michigan,5209,3142,9984072
23,West North Central,Minnesota,3993,3250,5606249
24,East South Central,Mississippi,1024,328,2981020
25,West North Central,Missouri,3776,2107,6121623
26,Mountain,Montana,983,422,1060665
27,West North Central,Nebraska,1745,676,1925614
28,Mountain,Nevada,7058,486,3027341
29,New England,New Hampshire,835,615,1353465
30,Mid-Atlantic,New Jersey,6048,3350,8886025
31,Mountain,New Mexico,1949,602,2092741
32,Mid-Atlantic,New York,39827,52070,19530351
33,South Atlantic,North Carolina,6451,2817,10381615
34,West North Central,North Dakota,467,75,758080
35,East North Central,Ohio,6929,3320,11676341
36,West South Central,Oklahoma,2823,1048,3940235
37,Pacific,Oregon,11139,3337,4181886
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
39,New England,Rhode Island,747,354,1058287
40,South Atlantic,South Carolina,3082,851,5084156
41,West North Central,South Dakota,836,323,878698
42,East South Central,Tennessee,6139,1744,6771631
43,West South Central,Texas,19199,6111,28628666
44,Mountain,Utah,1904,972,3153550
45,New England,Vermont,780,511,624358
46,South Atlantic,Virginia,3928,2047,8501286
47,Pacific,Washington,16424,5880,7523869
48,South Atlantic,West Virginia,1021,222,1804291
49,East North Central,Wisconsin,2740,2167,5807406
50,Mountain,Wyoming,434,205,577601

In [28]:
df_homlessness.sort_values(by = 'state' , ascending=False )
#بيرتب الداتا تنازليًا حسب عمود state.

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434,205,577601
49,East North Central,Wisconsin,2740,2167,5807406
48,South Atlantic,West Virginia,1021,222,1804291
47,Pacific,Washington,16424,5880,7523869
46,South Atlantic,Virginia,3928,2047,8501286
45,New England,Vermont,780,511,624358
44,Mountain,Utah,1904,972,3153550
43,West South Central,Texas,19199,6111,28628666
42,East South Central,Tennessee,6139,1744,6771631
41,West North Central,South Dakota,836,323,878698
40,South Atlantic,South Carolina,3082,851,5084156
39,New England,Rhode Island,747,354,1058287
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
37,Pacific,Oregon,11139,3337,4181886
36,West South Central,Oklahoma,2823,1048,3940235
35,East North Central,Ohio,6929,3320,11676341
34,West North Central,North Dakota,467,75,758080
33,South Atlantic,North Carolina,6451,2817,10381615
32,Mid-Atlantic,New York,39827,52070,19530351
31,Mountain,New Mexico,1949,602,2092741
30,Mid-Atlantic,New Jersey,6048,3350,8886025
29,New England,New Hampshire,835,615,1353465
28,Mountain,Nevada,7058,486,3027341
27,West North Central,Nebraska,1745,676,1925614
26,Mountain,Montana,983,422,1060665
25,West North Central,Missouri,3776,2107,6121623
24,East South Central,Mississippi,1024,328,2981020
23,West North Central,Minnesota,3993,3250,5606249
22,East North Central,Michigan,5209,3142,9984072
21,New England,Massachusetts,6811,13257,6882635
20,South Atlantic,Maryland,4914,2230,6035802
19,New England,Maine,1450,1066,1339057
18,West South Central,Louisiana,2540,519,4659690
17,East South Central,Kentucky,2735,953,4461153
16,West North Central,Kansas,1443,773,2911359
15,West North Central,Iowa,1711,1038,3148618
14,East North Central,Indiana,3776,1482,6695497
13,East North Central,Illinois,6752,3891,12723071
12,Mountain,Idaho,1297,715,1750536
11,Pacific,Hawaii,4131,2399,1420593
10,South Atlantic,Georgia,6943,2556,10511131
9,South Atlantic,Florida,21443,9587,21244317
8,South Atlantic,District of Columbia,3770,3134,701547
7,South Atlantic,Delaware,708,374,965479
6,New England,Connecticut,2280,1696,3571520
5,Mountain,Colorado,7607,3250,5691287
4,Pacific,California,109008,20964,39461588
3,West South Central,Arkansas,2280,432,3009733
2,Mountain,Arizona,7259,2606,7158024
1,Pacific,Alaska,1434,582,735139
0,East South Central,Alabama,2570,864,4887681

In [30]:
#df_homlessness.sort_values(by = 'state' , ascending=False , inplace = True  )
#بيرتب الداتا تنازليًا حسب عمود state ويعدلها في نفس الداتا فريم مباشرة.

In [31]:
df_homlessness.sort_values(by = ['individuals','state_pop'])
# بيرتب الداتا تصاعديًا حسب individuals، ولو القيم متساوية، يرتبها حسب state_pop

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434,205,577601
34,West North Central,North Dakota,467,75,758080
7,South Atlantic,Delaware,708,374,965479
39,New England,Rhode Island,747,354,1058287
45,New England,Vermont,780,511,624358
29,New England,New Hampshire,835,615,1353465
41,West North Central,South Dakota,836,323,878698
26,Mountain,Montana,983,422,1060665
48,South Atlantic,West Virginia,1021,222,1804291
24,East South Central,Mississippi,1024,328,2981020
12,Mountain,Idaho,1297,715,1750536
1,Pacific,Alaska,1434,582,735139
16,West North Central,Kansas,1443,773,2911359
19,New England,Maine,1450,1066,1339057
15,West North Central,Iowa,1711,1038,3148618
27,West North Central,Nebraska,1745,676,1925614
44,Mountain,Utah,1904,972,3153550
31,Mountain,New Mexico,1949,602,2092741
3,West South Central,Arkansas,2280,432,3009733
6,New England,Connecticut,2280,1696,3571520
18,West South Central,Louisiana,2540,519,4659690
0,East South Central,Alabama,2570,864,4887681
17,East South Central,Kentucky,2735,953,4461153
49,East North Central,Wisconsin,2740,2167,5807406
36,West South Central,Oklahoma,2823,1048,3940235
40,South Atlantic,South Carolina,3082,851,5084156
8,South Atlantic,District of Columbia,3770,3134,701547
25,West North Central,Missouri,3776,2107,6121623
14,East North Central,Indiana,3776,1482,6695497
46,South Atlantic,Virginia,3928,2047,8501286
23,West North Central,Minnesota,3993,3250,5606249
11,Pacific,Hawaii,4131,2399,1420593
20,South Atlantic,Maryland,4914,2230,6035802
22,East North Central,Michigan,5209,3142,9984072
30,Mid-Atlantic,New Jersey,6048,3350,8886025
42,East South Central,Tennessee,6139,1744,6771631
33,South Atlantic,North Carolina,6451,2817,10381615
13,East North Central,Illinois,6752,3891,12723071
21,New England,Massachusetts,6811,13257,6882635
35,East North Central,Ohio,6929,3320,11676341
10,South Atlantic,Georgia,6943,2556,10511131
28,Mountain,Nevada,7058,486,3027341
2,Mountain,Arizona,7259,2606,7158024
5,Mountain,Colorado,7607,3250,5691287
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
37,Pacific,Oregon,11139,3337,4181886
47,Pacific,Washington,16424,5880,7523869
43,West South Central,Texas,19199,6111,28628666
9,South Atlantic,Florida,21443,9587,21244317
32,Mid-Atlantic,New York,39827,52070,19530351
4,Pacific,California,109008,20964,39461588

In [33]:
df_homlessness.sort_values(by = ['individuals','state_pop'] , ascending=[True , False ])
# بيرتب الداتا تصاعديًا حسب individuals، ولو القيم متساوية، يرتبها تنازليًا حسب state_pop.

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434,205,577601
34,West North Central,North Dakota,467,75,758080
7,South Atlantic,Delaware,708,374,965479
39,New England,Rhode Island,747,354,1058287
45,New England,Vermont,780,511,624358
29,New England,New Hampshire,835,615,1353465
41,West North Central,South Dakota,836,323,878698
26,Mountain,Montana,983,422,1060665
48,South Atlantic,West Virginia,1021,222,1804291
24,East South Central,Mississippi,1024,328,2981020
12,Mountain,Idaho,1297,715,1750536
1,Pacific,Alaska,1434,582,735139
16,West North Central,Kansas,1443,773,2911359
19,New England,Maine,1450,1066,1339057
15,West North Central,Iowa,1711,1038,3148618
27,West North Central,Nebraska,1745,676,1925614
44,Mountain,Utah,1904,972,3153550
31,Mountain,New Mexico,1949,602,2092741
6,New England,Connecticut,2280,1696,3571520
3,West South Central,Arkansas,2280,432,3009733
18,West South Central,Louisiana,2540,519,4659690
0,East South Central,Alabama,2570,864,4887681
17,East South Central,Kentucky,2735,953,4461153
49,East North Central,Wisconsin,2740,2167,5807406
36,West South Central,Oklahoma,2823,1048,3940235
40,South Atlantic,South Carolina,3082,851,5084156
8,South Atlantic,District of Columbia,3770,3134,701547
14,East North Central,Indiana,3776,1482,6695497
25,West North Central,Missouri,3776,2107,6121623
46,South Atlantic,Virginia,3928,2047,8501286
23,West North Central,Minnesota,3993,3250,5606249
11,Pacific,Hawaii,4131,2399,1420593
20,South Atlantic,Maryland,4914,2230,6035802
22,East North Central,Michigan,5209,3142,9984072
30,Mid-Atlantic,New Jersey,6048,3350,8886025
42,East South Central,Tennessee,6139,1744,6771631
33,South Atlantic,North Carolina,6451,2817,10381615
13,East North Central,Illinois,6752,3891,12723071
21,New England,Massachusetts,6811,13257,6882635
35,East North Central,Ohio,6929,3320,11676341
10,South Atlantic,Georgia,6943,2556,10511131
28,Mountain,Nevada,7058,486,3027341
2,Mountain,Arizona,7259,2606,7158024
5,Mountain,Colorado,7607,3250,5691287
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
37,Pacific,Oregon,11139,3337,4181886
47,Pacific,Washington,16424,5880,7523869
43,West South Central,Texas,19199,6111,28628666
9,South Atlantic,Florida,21443,9587,21244317
32,Mid-Atlantic,New York,39827,52070,19530351
4,Pacific,California,109008,20964,39461588

In [36]:
df_homlessness['state'].unique()
#بيرجع قائمة بكل أسماء الولايات بدون تكرار.

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [38]:
df_homlessness['state'].value_counts()
# بيحسب عدد التكرارات لكل ولاية ويرتبهم تنازليًا.

Alabama                 1
Pennsylvania            1
Nevada                  1
New Hampshire           1
New Jersey              1
New Mexico              1
New York                1
North Carolina          1
North Dakota            1
Ohio                    1
Oklahoma                1
Oregon                  1
Rhode Island            1
Montana                 1
South Carolina          1
South Dakota            1
Tennessee               1
Texas                   1
Utah                    1
Vermont                 1
Virginia                1
Washington              1
West Virginia           1
Wisconsin               1
Nebraska                1
Missouri                1
Alaska                  1
Idaho                   1
Arizona                 1
Arkansas                1
California              1
Colorado                1
Connecticut             1
Delaware                1
District of Columbia    1
Florida                 1
Georgia                 1
Hawaii                  1
Illinois                1
Mississippi             1
Indiana                 1
Iowa                    1
Kansas                  1
Kentucky                1
Louisiana               1
Maine                   1
Maryland                1
Massachusetts           1
Michigan                1
Minnesota               1
Wyoming                 1
Name: state, dtype: int64

In [41]:
df_homlessness[df_homlessness['region'] == 'Mountain']
# بيرجع الصفوف اللي فيها region = 'Mountain' بس

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona         7259            2606    7158024
5   Mountain    Colorado         7607            3250    5691287
12  Mountain       Idaho         1297             715    1750536
26  Mountain     Montana          983             422    1060665
28  Mountain      Nevada         7058             486    3027341
31  Mountain  New Mexico         1949             602    2092741
44  Mountain        Utah         1904             972    3153550
50  Mountain     Wyoming          434             205     577601

In [46]:
df_homlessness[(df_homlessness['region'] =='Mountain') | (df_homlessness['family_members'] <300 )]
#يرجع الصفوف اللي فيها region = 'Mountain' أو family_members أقل من 300.

                region          state  individuals  family_members  state_pop
2             Mountain        Arizona         7259            2606    7158024
5             Mountain       Colorado         7607            3250    5691287
12            Mountain          Idaho         1297             715    1750536
26            Mountain        Montana          983             422    1060665
28            Mountain         Nevada         7058             486    3027341
31            Mountain     New Mexico         1949             602    2092741
34  West North Central   North Dakota          467              75     758080
44            Mountain           Utah         1904             972    3153550
48      South Atlantic  West Virginia         1021             222    1804291
50            Mountain        Wyoming          434             205     577601

In [53]:
df_homlessness[df_homlessness['region'] =='Mountain']['state_pop'].mean()
# بيحسب متوسط عدد السكان للولايات اللي في منطقة Mountain بس

3063968.125

In [54]:
df_homlessness.groupby('region')['state_pop'].mean()
# بيحسب متوسط عدد السكان في كل منطقة (region).

region
East North Central    9.377277e+06
East South Central    4.775371e+06
Mid-Atlantic          1.373910e+07
Mountain              3.063968e+06
New England           2.471554e+06
Pacific               1.066462e+07
South Atlantic        7.247736e+06
West North Central    3.050034e+06
West South Central    1.005958e+07
Name: state_pop, dtype: float64

In [57]:
df_homlessness.groupby('region')['state_pop'].agg(['mean', 'min', 'max'])
# بيحسب المتوسط، الحد الأدنى، والحد الأقصى لعدد السكان في كل منطقة (region).

                            mean      min       max
region
East North Central  9.377277e+06  5807406  12723071
East South Central  4.775371e+06  2981020   6771631
Mid-Atlantic        1.373910e+07  8886025  19530351
Mountain            3.063968e+06   577601   7158024
New England         2.471554e+06   624358   6882635
Pacific             1.066462e+07   735139  39461588
South Atlantic      7.247736e+06   701547  21244317
West North Central  3.050034e+06   758080   6121623
West South Central  1.005958e+07  3009733  28628666

In [62]:
df_homlessness.groupby(['region' , 'state'])['state_pop'].agg({'min','max'})
#df_homlessness.groupby(['region', 'state'])['state_pop'].agg(['min', 'max'])
# بيحسب أقل وأكبر عدد سكان لكل ولاية داخل كل منطقة (region).

                                              min       max
region             state
East North Central Illinois              12723071  12723071
                   Indiana                6695497   6695497
                   Michigan               9984072   9984072
                   Ohio                  11676341  11676341
                   Wisconsin              5807406   5807406
East South Central Alabama                4887681   4887681
                   Kentucky               4461153   4461153
                   Mississippi            2981020   2981020
                   Tennessee              6771631   6771631
Mid-Atlantic       New Jersey             8886025   8886025
                   New York              19530351  19530351
                   Pennsylvania          12800922  12800922
Mountain           Arizona                7158024   7158024
                   Colorado               5691287   5691287
                   Idaho                  1750536   1750536
                   Montana                1060665   1060665
                   Nevada                 3027341   3027341
                   New Mexico             2092741   2092741
                   Utah                   3153550   3153550
                   Wyoming                 577601    577601
New England        Connecticut            3571520   3571520
                   Maine                  1339057   1339057
                   Massachusetts          6882635   6882635
                   New Hampshire          1353465   1353465
                   Rhode Island           1058287   1058287
                   Vermont                 624358    624358
Pacific            Alaska                  735139    735139
                   California            39461588  39461588
                   Hawaii                 1420593   1420593
                   Oregon                 4181886   4181886
                   Washington             7523869   7523869
South Atlantic     Delaware                965479    965479
                   District of Columbia    701547    701547
                   Florida               21244317  21244317
                   Georgia               10511131  10511131
                   Maryland               6035802   6035802
                   North Carolina        10381615  10381615
                   South Carolina         5084156   5084156
                   Virginia               8501286   8501286
                   West Virginia          1804291   1804291
West North Central Iowa                   3148618   3148618
                   Kansas                 2911359   2911359
                   Minnesota              5606249   5606249
                   Missouri               6121623   6121623
                   Nebraska               1925614   1925614
                   North Dakota            758080    758080
                   South Dakota            878698    878698
West South Central Arkansas               3009733   3009733
                   Louisiana              4659690   4659690
                   Oklahoma               3940235   3940235
                   Texas                 28628666  28628666